body{
    background-color: lightgreen;
    color: grey;
}

.flashes h4 {
    line-height: 2;
}

#nutrition{
    height: 600px;
}

#left-text{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-text{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-text{
    width: 33%;
    margin: 0 auto;
}

.left-text-heading{
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;

}

.right-text-heading{
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-text-heading h2{
    text-align: right;
}

.right-text-heading p{
    text-align: right;
}

#banner{
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#square-container {
    width: 300px;
    height: 600px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin: 220px auto;
}

#square-cover-bg {
    background: url(../assets/images/homepage-hero-image.jpg) no-repeat center center;
    height: 100%;

}

.social-icons i {
  margin: 0px 10px;
  width: 40px;
  height: 40px;
  background: #494848;
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 50%;
}

i.fa-facebook {
  background: #5252b8;
}

i.fa-twitter {
  background: #00acee;
}

i.fa-instagram {
  background: #ebc803;
}

i.fa-google-plus {
  background: #f56228;
}

i.fa-facebook:hover {
  color: #5252b8;
  background: #fafafa;
  border: 1px solid #5252b8;
}

i.fa-twitter:hover {
  color: #00acee;
  background: #fafafa;
  border: 1px solid #00acee;
}

i.fa-instagram:hover {
  color: #ebc803;
  background: #fafafa;
  border: 1px solid #ebc803;
}

i.fa-google-plus:hover {
  color: #f56228;
  background: #fafafa;
  border: 1px solid #f56228;
}


/*-------------------------Registration Page------------------*/


.row .col.s8 {
    width: 66.6666666667%;
    margin-left: 16%;
    left: auto;
    right: auto;
}

/*-------------------------Log In Page------------------------*/

.card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 6.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

/*-------------------------Smoothie.html------------------------*/

.hidden {
    display: none;
}