{% extends "profile.html"%}
{% block add_smoothie %}

<!-- Main section/Page title -->
<section class="container smoothie_section pt-3">
    <div class="smoothie_headline text-center">
        <h2>Add Smoothie Recipe</h2>
    </div>
    <hr class="mb-5">
    <!-- Smoothie name input -->
    <form method="POST" class="smoothie-form" action="{{ url_for('add_smoothie') }}">
        <div class="form-group">
            <label for="smoothie_name">Smoothie Name</label>
            <input required type="text" class="form-control" id="smoothie_name" name="smoothie_name"
                aria-describedby="smoothie_name">
        </div>
        <!-- Smoothie category input -->
        <div class="form-group">
            <label for="category_name">Category</label>
            <select required name="category_name" id="category_name" class="form-control">
                <option value="" disabled selected>Select Category</option>
                {% for category in categories %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Smoothie image input -->
        <div class="form-group">
            <label for="smoothie_img">Image Url</label>
            <input required type="text" class="form-control" name="smoothie_img" id="smoothie_img"
                aria-describedby="smoothie_img">
            <small class="form-text text-muted">(Optional)</small>
        </div>
        <!-- Smoothie prep time -->
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="smoothie_prep">Prep time</label>
                    <select required id="smoothie_prep" name="smoothie_prep" class="form-control">
                        <option value="" selected disabled>Select option</option>
                        <option>
                            < 10 mins</option>
                        <option>10-15 mins</option>
                        <option>15 mins +</option>
                    </select>
                </div>
            </div>
            <!-- Smoothie serving input -->
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="smoothie_serv">Servings</label>
                    <input required type="text" class="form-control" name="smoothie_serv" id="smoothie_serv"
                        aria-describedby="smoothie_serv">
                </div>
            </div>
        </div>
        <!-- Smoothie ingredients input -->
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <label for="smoothie_ingredients">Ingredients</label>
                <textarea required class="form-control" id="smoothie_ingredients" name="smoothie_ingredients"
                    placeholder="Please display ingredients in list format"></textarea>
                <small class="form-text text-muted">One ingredient per line</small>
            </div>
            <!-- Smoothie instruction input -->
            <div class="col-sm-6 col-md-6">
                <label for="smoothie_instructions">Instructions</label>
                <textarea required class="form-control" id="smoothie_instructions" name="smoothie_instructions"
                    placeholder="Please display instructions in list format"></textarea>
                <small class="form-text text-muted">One instruction per line</small>
            </div>
        </div>
        <!-- Smoothie Benefits -->
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <label for="smoothie_benefits">Benefits</label>
                <textarea required class="form-control" id="smoothie_benefits" name="smoothie_benefits"
                    placeholder="Enter Smoothie Benefits Here"></textarea>
            </div>
        </div>
        <!-- Submit button -->
        <button class="btn btn-lg btn-warning text-uppercase btn-color mt-3" type="submit">Submit Smoothie</button>
    </form>
</section>

{% endblock %}