{% extends "base.html" %} 
{% block content %}

<h2>{{pagetitle}}</h2>

<div class="row" id="homepage-header">
    <div class="col s12 intro-text"></div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Fruit</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/home-fruit.jpg" class="responsive-img" alt="fruit image">
    </div>
</div>

<div class="row featurette">

    <div class="col-md-5">
        <img src="static/assets/images/home-veg.jpg" class="responsive-img" alt="veg image">
    </div>
    <div class="col-md-7">
        <h3>Vegetable</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>


</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Dairy</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/home-dairy.jpg" class="responsive-img" alt="dairy image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="static/assets/images/home-frozen.jpg" class="responsive-img" alt="frozen image">
    </div>
    <div class="col-md-7">
        <h3>Hot & Frozen</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>


</div>

{% endblock %}