{% extends "base.html" %} {% block content %}

<h2>{{pagetitle}}</h2>

<div class="row featurette">
    <div class="col-md-7">
        <button class="btn-danger">test</button>
        <h3>Fruit</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/reg-page.jpg" class="responsive-img" alt="fruit image">
    </div>
</div>

<div class="row featurette">

    <div class="col-md-5">
        <img src="static/assets/images/reg-page.jpg" class="responsive-img" alt="fruit image">
    </div>
    <div class="col-md-7">
        <button class="btn-danger">test</button>
        <h3>Fruit</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>


</div>

<div class="row featurette">
    <div class="col-md-7">
        <button class="btn-danger">test</button>
        <h3>Fruit</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/reg-page.jpg" class="responsive-img" alt="fruit image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="static/assets/images/reg-page.jpg" class="responsive-img" alt="fruit image">
    </div>
    <div class="col-md-7">
        <button class="btn-danger">test</button>
        <h3>Fruit</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book
        </p>
    </div>


</div>

{% endblock %}