{% extends "base.html" %} 
{% block content %}

<h2>{{pagetitle}}</h2>

<div class="row" id="homepage-header">
    <div class="col s12 intro-text"></div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Fruit</h3>
        <p>
            Fresh fruits picked at their peak, stored properly and consumed raw provide the maximum vitamins, minerals, enzymes and nutrients.
            For added benefits buy organic fruits where available to feel the real benefits and reduce your intake of any potentially harmful
            chemicals.  Naturally, smoothies are colder, thicker and smoother when they're made with frozen fruits. In fact, combining fresh 
            and frozen fruits in the same drink is ideal. Ideally, one should purchase fresh seasonal fruits then peel, seed or pit the fruit
            and split in to individual servings and freeze them until required.  Alternatively, one can purchase the more expensive and convenient
            option of commerically frozen fruit (especially in Winter). Preferabally select fruit with no added sugars.
            <h6><strong>Benefits:</strong> Good at treating Migranes and certain dry skin conditions.</h6>
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/home-fruit.jpg" class="responsive-img" alt="fruit image">
    </div>
</div>

<div class="row featurette">

    <div class="col-md-5">
        <img src="static/assets/images/home-veg.jpg" class="responsive-img" alt="veg image">
    </div>
    <div class="col-md-7">
        <h3>Vegetable</h3>
        <p>
            One advantage vegetables has over fruit is that they are practially available year round. There are many similarities between
            fresh vegetables and fruits. They are packed with vitamins and minerals and best eaten raw shortly after harvesting. To get the 
            most out of your vegetables store them in your refrigerator where they can last up to a week. Where recipes require vegetables
            to be par-boiled prior to blending, be sure to pay close attention to them to avoid over-cooking them and losing their nutrition.
            Canned vegetables are a good alternative when certain vegetables are out of season and hold similar nutrtion values to that of 
            cooked vegetables. Like fruit smoothies, users should try to produce their own juices out of vegetables using fresh organic products.
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>


</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Dairy</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>

    <div class="col-md-5">
        <img src="static/assets/images/home-dairy.jpg" class="responsive-img" alt="dairy image">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="static/assets/images/home-frozen.jpg" class="responsive-img" alt="frozen image">
    </div>
    <div class="col-md-7">
        <h3>Hot & Frozen</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
            typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.
            <strong><h6>Benefits</h6></strong>
        </p>
    </div>


</div>

{% endblock %}